<!-- <p>modules works!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam aliquam soluta eum assumenda ducimus pariatur quibusdam? Rem eius quae esse harum natus, aliquam ipsam quod 
    explicabo quam provident saepe aut?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, molestias impedit, repellendus consectetur fugiat perspiciatis at consequatur aspernatur eligendi amet asperiores, delectus quasi vero mollitia! Aliquam numquam repellendus eligendi quam.</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Alignment</title>
</head>
<body>
    <div class="button-container">
        <button routerLink="/programPlan" class="create-button">Create</button>
    </div>
</body>
</html>

